header {
    width: auto;
}

#name-form{
    margin: 10px 10px 5px 5px;
}

.ingredients{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ingredient{
    width: 50%;
    margin: 0 10px 5px 0;
}

.amount{
    width: 15%;
    margin: 0 10px 5px 0;    
}

.stack{
    display: flex;
    justify-content: flex-start;
}

.stack * {
    display: block;
}

.stack button{
    background-color: red;
}

.group{
    margin: 10px 10px 5px 5px;
    border: 5px solid black;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    background-color: rgb(232, 219, 215);
}

.flex{
    display: flex;
}

.align-area{
    display: inline-block;
    width: 48%;
    margin-left: 1%;
    text-align: center;
}

.add-box{
    flex: 0 0 75px;
    margin-left: auto;
    padding: 10px;
}

input {
    box-sizing:border-box;
} 