/* Responsive Navigation */

.nav{
    overflow: hidden;
    background-color: gold;
}

.nav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover{
    background-color: #ddd;
}

.active{
    background-color: #444FE2
}

.nav .icon {
    display: none;
}

#name-form{
    margin: 10px 10px 5px 5px;
}

.ingredients{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ingredient{
    width: 50%;
    margin: 0 10px 5px 0;
}

.amount{
    width: 15%;
    margin: 0 10px 5px 0;    
}

.stack{
    display: flex;
    justify-content: flex-start;
}

.stack * {
    display: block;
}

.stack button{
    background-color: red;
}

.group{
    margin: 10px 10px 5px 5px;
    border: 5px solid black;
    border-radius: 8px;
    padding: 2% 2% 2% 2%;
    background-color: rgb(232, 219, 215);
}

.flex{
    display: flex;
}

.align-area{
    display: inline-block;
    width: 48%;
    margin-left: 1%;
    text-align: center;
}

.add-box{
    flex: 0 0 75px;
    margin-left: auto;
    padding: 10px;
}

input {
    box-sizing:border-box;
} 

textarea {
    min-width: 85%;
    max-width: 95%;
    min-height: 150px;
    outline: none;
}

/* Media Queries*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }